@let i = image();
@if (i) {
  <table>
    <tr>
      <td class="p-2 border-b">Version</td>
      <td class="p-2 border-b" data-testid="image-version">{{
        i.version ?? "-"
      }}</td>
    </tr>
    <tr>
      <td class="p-2 border-b">ID</td>
      <td class="p-2 border-b">{{ i.id }}</td>
    </tr>
    <tr>
      <td class="p-2 border-b">Size</td>
      <td class="p-2 border-b">{{ i.size }}</td>
    </tr>
    <tr>
      <td class="p-2 border-b">Created</td>
      <td class="p-2 border-b">{{ i.created }}</td>
    </tr>
  </table>
}
