@if (server.isSuccess()) {
  @if (serverConfig()?.socketPath) {
    <h2 class="text-800">{{ serverConfig()?.socketPath }}</h2>
  }

  <div>{{ serverInfo()?.Containers }} containers</div>
  <div>{{ serverInfo()?.Images }} images</div>
  <div>{{ serverInfo()?.NCPU }} CPUs</div>
  <div>{{ memory() }} RAM</div>
  <div>
    Host {{ serverInfo()?.OSType }} {{ serverInfo()?.OperatingSystem }} ({{
      serverInfo()?.Architecture
    }})
  </div>
  <div>Docker version {{ serverInfo()?.ServerVersion }}</div>
}
