@if (server.isFetching()) {
  <app-home-placeholder></app-home-placeholder>
} @else if (server.isSuccess()) {
  <div class="dark:text-gray-200">
    @if (serverConfig()?.socketPath) {
      <h2 class="text-2xl font-bold mb-3 mt-1">
        <i class="fa-brands fa-docker"></i> {{ serverConfig()?.socketPath }}
      </h2>
    }

    <div>
      <i class="mr-2 fa-regular fa-cube"></i>
      <span i18n data-testid="server-containers"
        >{{ serverInfo()?.Containers }} containers</span
      >
    </div>
    <div>
      <i class="mr-2 fa-regular fa-images"></i>
      <span i18n data-testid="server-images"
        >{{ serverInfo()?.Images }} images</span
      >
    </div>
    <div>
      <i class="mr-2 fa-regular fa-microchip"></i>
      <span i18n data-testid="server-cpus">{{ serverInfo()?.NCPU }} CPUs</span>
    </div>
    <div
      ><i class="mr-2 fa-regular fa-memory"></i>
      <span i18n data-testid="server-memory">{{ memory() }} RAM</span></div
    >
    <div
      ><i class="mr-2 fa-regular fa-computer"></i>
      <span data-testid="server-host">
        <span i18n>Host</span>
        {{ serverInfo()?.OSType }} {{ serverInfo()?.OperatingSystem }} ({{
          serverInfo()?.Architecture
        }})</span
      ></div
    >
    <div
      ><i class="mr-2 fa-brands fa-docker"></i>
      <span i18n data-testid="server-version"
        >Docker version {{ serverInfo()?.ServerVersion }}</span
      ></div
    >
  </div>
}
