@if (container.isSuccess()) {
  <h2 class="text-2xl dark:text-gray-200 font-bold mt-1 mb-3">
    <app-status [status]="container.data().State"></app-status>
    {{ container.data().Names.join("").substring(1) }}
  </h2>
}

@for (link of links; track link.name) {
  <a
    routerLink="/containers/{{ containerService.idFromRoute() }}/{{
      link.path
    }}"
    class="py-2 px-3 inline-block no-underline text-gray-500 font-semibold border-b-4 border-transparent"
    routerLinkActive="text-gray-900 border-blue-500 dark:text-gray-200 "
    [routerLinkActiveOptions]="{ exact: true }"
    >{{ link.name }}</a
  >
}
<div class="border-top-1 border-200">
  <router-outlet></router-outlet>
</div>
