<app-title><span i18n>Volumes</span></app-title>

@if (volumes.isError()) {
  <p-message closable severity="error">
    <span class="font-bold" i18n>Failed to retrieve volumes:</span><br />
    {{ volumes.error().error.message }}
  </p-message>
}

@if (volumes.isLoading()) {
  <p-table [value]="[{}, {}, {}]">
    <ng-template pTemplate="header">
      <tr>
        <th i18n>Name</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-volume>
      <tr>
        <td><p-skeleton></p-skeleton></td>
      </tr>
    </ng-template>
  </p-table>
}

@if (volumes.isSuccess()) {
  <p-table [value]="volumes.data()">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-volume>
      <tr>
        <td>{{ volume.Name }}</td>
      </tr>
    </ng-template>
  </p-table>
}
