// PrimeNG
// @import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

// PrimeFlex
@import "primeflex/primeflex.scss";

// PrimeIcons
@import "primeicons/primeicons.css";

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.darkThemeSwitch {
  &.p-inputswitch {
    margin-top: 0.2rem;
    width: 4.2rem;
    height: 2.3rem;

    .p-inputswitch-slider {
      background-color: #afccf7;
      &::before {
        width: 2rem;
        height: 2rem;
        margin-top: -1rem;
        left: 0.1rem;
        background: transparent;
        font-size: 2rem;
        line-height: 2rem;
        content: "🌞";
      }
    }
  }

  &.p-inputswitch-checked .p-inputswitch-slider {
    background-color: #9fc6f5;
    &::before {
      content: "🌚";
      transform: translateX(1.8rem);
    }
  }
}
