@import "tailwindcss";

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  overflow: hidden;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("assets/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-jetbrains-mono: "JetBrains Mono";
}
