<div class="p-3 overflow-auto h-full">
  @let v = volume();
  @if (v !== undefined) {
    <app-title>{{ v.name }}</app-title>

    <table class="mt-3">
      <tr>
        <td class="p-2 border-b border-gray-200 dark:border-gray-700" i18n
          >Created</td
        >
        <td
          class="p-2 border-b border-gray-200 dark:border-gray-700"
          data-testid="volume-created"
          >{{ v.created }}</td
        >
      </tr>
      <tr>
        <td class="p-2 border-b border-gray-200 dark:border-gray-700" i18n
          >Mount point</td
        >
        <td class="p-2 border-b border-gray-200 dark:border-gray-700">
          <pre class="text-sm">{{ v.mountPoint }}</pre>
        </td>
      </tr>
    </table>
  }
</div>
