@if (container.isSuccess()) {
  <div class="grid grid-cols-3 mt-3 gap-y-3 dark:text-gray-200">
    <div class="font-semibold" i18n>Image</div>
    <div class="col-span-2">{{ container.data().Image }}</div>

    <div class="font-semibold" i18n>Status</div>
    <div class="col-span-2">{{ container.data().Status }}</div>

    <div class="font-semibold" i18n>Created</div>
    <div class="col-span-2">{{ container.data().Created * 1000 | date }}</div>

    <div class="font-semibold" i18n>Ports</div>
    <div class="col-span-2">
      @for (port of container.data().Ports; track port.IP + port.PublicPort) {
        @if (port.PublicPort) {
          <div>
            {{ port.IP }}:{{ port.PublicPort }} → {{ port.PrivatePort }}/{{
              port.Type
            }}
          </div>
        }
      }
    </div>
  </div>
}
