@let c = container();

@if (c) {
  <table class="mt-3">
    <tr>
      <td class="p-2 border-b" i18n>Image</td>
      <td class="p-2 border-b" data-testid="container-image">{{ c.image }}</td>
    </tr>
    <tr>
      <td class="p-2 border-b" i18n>Status</td>
      <td class="p-2 border-b" data-testid="container-status">{{
        c.status
      }}</td>
    </tr>
    <tr>
      <td class="p-2 border-b" i18n>Created</td>
      <td class="p-2 border-b" data-testid="container-date">{{
        c.createdDate | date
      }}</td>
    </tr>
    <tr>
      <td class="p-2 border-b" i18n>Ports</td>
      <td class="p-2 border-b">
        @for (port of c.ports; track port.url) {
          <div data-testid="container-port">
            {{ port.ip }}:{{ port.publicPort }} → {{ port.privatePort }}/{{
              port.type
            }}
          </div>
        }
      </td>
    </tr>
  </table>
}
