@if (container.isSuccess()) {
  <app-title>
    <app-status [status]="container.data().state"></app-status>
    {{ container.data().name }}</app-title
  >
}

@for (link of links; track link.name) {
  <a
    routerLink="/containers/{{ containerService.idFromRoute() }}/{{
      link.path
    }}"
    class="py-2 px-3 inline-block no-underline text-gray-500 font-semibold border-b-4"
    routerLinkActive="text-gray-900 dark:text-gray-200"
    #rla="routerLinkActive"
    [ngClass]="{
      'border-blue-500': rla.isActive,
      'border-transparent': !rla.isActive,
    }"
    [routerLinkActiveOptions]="{ exact: true }"
    >{{ link.name }}</a
  >
}
<div class="border-t border-gray-200 dark:border-gray-700 pb-3">
  <router-outlet></router-outlet>
</div>
