@if (logs.isLoading()) {
  <app-container-logs-placeholder></app-container-logs-placeholder>
} @else if (logs.data() === undefined || logs.data()?.trim()?.length === 0) {
  <div class="p-3 italic text-muted-color" i18n
    >This container does not have any logs yet.</div
  >
} @else {
  <div class="flex flex-1 flex-col">
    <pre
      class="p-3 bg-gray-800 text-gray-100 text-sm flex-1 w-fit"
      [ngClass]="{ 'whitespace-pre-wrap break-all': wrapLogLines() }"
      [innerHTML]="coloredLogs()"
    >
    </pre>
    <div #logend></div>
  </div>
}
