@if (logs.isLoading()) {
  <app-container-logs-placeholder></app-container-logs-placeholder>
} @else if (logs.data() === undefined || logs.data()?.trim()?.length === 0) {
  <div class="p-3 italic text-muted-color" i18n
    >This container does not have any logs yet.</div
  >
} @else {
  <div class="absolute right-2 mt-2">
    <p-button (click)="op.toggle($event)" severity="secondary"
      ><i class="fa-solid fa-bars"></i
    ></p-button>
  </div>
  <p-popover #op>
    <div class="flex flex-row gap-3">
      <label for="wrapLogLines">Line wrap</label>
      <p-toggleswitch inputId="wrapLogLines" [(ngModel)]="wrapLogLines" />
    </div>
  </p-popover>

  <div class="flex flex-1 flex-col overflow-auto">
    <pre
      class="p-3 bg-gray-800 text-gray-100 text-sm flex-1 font-jetbrains-mono min-w-fit"
      [ngClass]="{ 'whitespace-pre-wrap break-all': wrapLogLines() }"
      [innerHTML]="coloredLogs()"
    >
    </pre>
    <div #logend></div>
  </div>
}
