<h2 class="mt-1 text-gray-800 dark:text-gray-200 text-2xl font-bold mb-3" i18n
  >Containers</h2
>

@if (containers.isError()) {
  <p-messages severity="error">
    <ng-template pTemplate>
      <div>
        <span class="font-bold" i18n>Failed to retrieve containers:</span><br />
        {{ containers.error().error.message }}
      </div>
    </ng-template>
  </p-messages>
}

@if (containers.isLoading()) {
  <app-containers-placeholder></app-containers-placeholder>
}

@if (containers.isSuccess()) {
  <div class="border border-gray-200 dark:border-gray-700">
    <p-table [value]="containers.data()" tableStyleClass="table-fixed">
      <ng-template pTemplate="header">
        <tr>
          <th i18n>Name</th>
          <th i18n>Image</th>
          <th i18n>Stack</th>
          <th i18n>Status</th>
          <th i18n>Ports</th>
          <th i18n>Actions</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-container>
        <tr>
          <td class="whitespace-nowrap overflow-ellipsis overflow-hidden">
            <a
              routerLink="/containers/{{ container.id }}"
              class="text-blue-800 dark:text-blue-300 text-lg hover:underline"
              >{{ container.name }}</a
            >
          </td>
          <td class="whitespace-nowrap overflow-ellipsis overflow-hidden">{{
            container.image
          }}</td>
          <td class="">{{ container.project }}</td>
          <td>
            <app-status [status]="container.state"></app-status>
            {{ container.state | titlecase }}
          </td>
          <td class="whitespace-nowrap overflow-ellipsis overflow-hidden">
            @for (port of container.ports; track port.url) {
              <a
                [href]="port.url"
                target="_blank"
                rel="noopener"
                class="text-blue-800 dark:text-blue-300 mr-2 hover:underline"
                >{{ port.publicPort }}</a
              >
            }
          </td>
          <td>
            @if (container.state === "running") {
              <p-button
                icon="pi"
                severity="danger"
                [text]="true"
                [rounded]="true"
                [loading]="start.isPending() || stop.isPending()"
                (onClick)="stopContainer(container.id)"
                ><i class="fa-solid fa-stop"></i
              ></p-button>
            } @else {
              <p-button
                icon="pi"
                severity="success"
                [text]="true"
                [rounded]="true"
                [loading]="start.isPending() || stop.isPending()"
                (onClick)="startContainer(container.id)"
                ><i class="fa-solid fa-play"></i
              ></p-button>
            }
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
}
