<h2 class="mt-1 text-gray-800 dark:text-gray-200 text-2xl font-bold mb-3" i18n
  >Containers</h2
>

@if (containers.isError()) {
  <p-messages severity="error">
    <ng-template pTemplate>
      <div>
        <span class="font-bold" i18n>Failed to retrieve containers:</span><br />
        {{ containers.error().error.message }}
      </div>
    </ng-template>
  </p-messages>
}

@if (containers.isLoading()) {
  <div class="border border-gray-200 dark:border-gray-700">
    <p-table [value]="[{}, {}, {}, {}]">
      <ng-template pTemplate="header">
        <tr>
          <th i18n>Name</th>
          <th i18n>Image</th>
          <th i18n>Status</th>
          <th i18n>Ports</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-container>
        <tr>
          <td><p-skeleton></p-skeleton></td>
          <td><p-skeleton></p-skeleton></td>
          <td><p-skeleton></p-skeleton></td>
          <td><p-skeleton></p-skeleton></td>
        </tr>
      </ng-template>
    </p-table>
  </div>
}

@if (containers.isSuccess()) {
  <div class="border border-gray-200 dark:border-gray-700">
    <p-table [value]="containers.data()">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Image</th>
          <th>Status</th>
          <th>Ports</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-container>
        <tr>
          <td>
            <a
              routerLink="/containers/{{ container.Id }}"
              class="text-blue-800 dark:text-blue-300 text-lg hover:underline"
              >{{ container.Names?.join("").substring(1) }}</a
            >
          </td>
          <td>{{ container.Image }}</td>
          <td>
            <app-status [status]="container.State"></app-status>
            {{ container.State | titlecase }}
          </td>
          <td>
            @for (port of container.Ports; track port.IP + port.PrivatePort) {
              @if (port.PublicPort && port.IP !== "::") {
                <a
                  href="http://{{ port.IP }}:{{ port.PublicPort }}"
                  target="_blank"
                  rel="noopener"
                  class="text-blue-800 dark:text-blue-300 mr-2 hover:underline"
                  >{{ port.PublicPort }}</a
                >
              }
            }
          </td>
          <td>
            @if (container.State === "running") {
              <p-button
                icon="pi pi-stop"
                severity="danger"
                [text]="true"
                [rounded]="true"
                [loading]="start.isPending() || stop.isPending()"
                (onClick)="stopContainer(container.Id)"
              ></p-button>
            } @else {
              <p-button
                icon="pi pi-play"
                severity="success"
                [text]="true"
                [rounded]="true"
                [loading]="start.isPending() || stop.isPending()"
                (onClick)="startContainer(container.Id)"
              ></p-button>
            }
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
}
