@if (login.isSuccess()) {
  <div class="flex flex-column w-full h-full">
    <div class="flex flex-row bg-primary p-2 px-4 align-items-center">
      <div class="text-xl">
        <a routerLink="/" class="text-0 no-underline">Boxfish</a>
      </div>
      <div class="ml-auto mr-3">
        <p-inputSwitch
          inputId="darktheme-switch"
          styleClass="darkThemeSwitch"
          [ngModel]="darkTheme"
          (ngModelChange)="toggleDayNight()"
        />
      </div>
    </div>

    <div class="flex flex-row flex-1">
      <div class="flex flex-column surface-200 p-2">
        @for (route of routes; track route.name) {
          <a
            [routerLink]="route.link"
            routerLinkActive="text-900"
            class="p-3 font-bold border-round bg-transparent text-500 border-transparent no-underline w-full hover:surface-300"
          >
            <i class="pi {{ route.icon }} mr-2"></i>
            {{ route.name }}
          </a>
        }

        <div class="my-3 border-top-1 border-300"></div>
      </div>

      <div class="flex-1 p-3">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
}
