<div class="flex flex-col w-full h-full overflow-hidden">
  <div class="flex flex-row bg-primary px-4 items-center">
    <a
      routerLink="/"
      class="text-white dark:text-gray-900 no-underline text-2xl font-semibold"
      ><img [src]="logo" alt="logo" class="inline mr-3" style="width: 48px" />
      Boxfish</a
    >
  </div>

  <div class="flex flex-row flex-1 overflow-hidden">
    <div
      class="flex flex-col bg-gray-200 text-gray-500 dark:bg-gray-700 dark:text-gray-400 p-2"
    >
      @for (route of routes; track route.name) {
        <a
          [routerLink]="route.link"
          routerLinkActive="text-gray-900 dark:text-gray-200"
          class="p-3 font-bold rounded-md bg-transparent border-transparent no-underline w-full hover:bg-gray-300 hover:dark:bg-gray-600"
        >
          <i class="fa-solid {{ route.icon }} mr-2"></i>
          {{ route.name }}
        </a>

        @if (route.separator) {
          <div
            class="my-3 border-t-2 border-gray-300 dark:border-gray-600"
          ></div>
        }
      }
      <div class="mt-auto p-2"
        ><a
          href="https://github.com/mschn/boxfish"
          target="_blank"
          alt="boxfish on github"
          ><i class="fa-brands fa-github text-3xl"></i></a
      ></div>
    </div>

    <div
      class="flex-1 flex overflow-auto w-full h-full p-3 bg-white dark:bg-gray-900 text-gray-800 dark:text-gray-200"
    >
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
