@if (images.isLoading()) {
  <app-image-placeholder></app-image-placeholder>
}

@if (images.isError()) {
  <p-message closable severity="error">
    <span class="font-bold" i18n>Failed to retrieve image:</span><br />
    {{ images.error().error.message }}
  </p-message>
}

@let i = image();
@if (i) {
  <app-title [pathMap]="titlePathMap()">{{ i.name ?? i.shortId }}</app-title>

  <div class="mt-3">
    <table>
      <tr>
        <td class="p-2 border-b">Version</td>
        <td class="p-2 border-b" data-testid="image-version">{{
          i.version ?? "-"
        }}</td>
      </tr>
      <tr>
        <td class="p-2 border-b">ID</td>
        <td class="p-2 border-b">{{ i.id }}</td>
      </tr>
      <tr>
        <td class="p-2 border-b">Size</td>
        <td class="p-2 border-b">{{ i.size }}</td>
      </tr>
      <tr>
        <td class="p-2 border-b">Created</td>
        <td class="p-2 border-b">{{ i.created }}</td>
      </tr>
    </table>
  </div>
}
