@if (images.isLoading()) {
  <app-image-placeholder></app-image-placeholder>
}

@if (images.isError()) {
  <p-message closable severity="error">
    <span class="font-bold" i18n>Failed to retrieve image:</span><br />
    {{ images.error().error.message }}
  </p-message>
}

@let i = image();
@if (i) {
  <app-title [pathMap]="titlePathMap()">{{ i.name ?? i.shortId }}</app-title>

  <div class="mt-3">
    <table>
      <tr>
        <td>Version</td>
        <td data-testid="image-version">{{ i.version }}</td>
      </tr>
      <tr>
        <td>ID</td>
        <td>{{ i.id }}</td>
      </tr>
      <tr>
        <td>Size</td>
        <td>{{ i.size }}</td>
      </tr>
      <tr>
        <td>Created</td>
        <td>{{ i.created }}</td>
      </tr>
    </table>
  </div>
}
