<h2 class="mt-1 text-gray-800 dark:text-gray-200 text-2xl font-bold mb-3"
  >Images</h2
>

@if (images.isError()) {
  <p-messages severity="error">
    <ng-template pTemplate>
      <div class="p-3">
        <span class="font-bold" i18n>Failed to retrieve images:</span><br />
        {{ images.error().error.message }}
      </div>
    </ng-template>
  </p-messages>
}

@if (images.isLoading()) {
  <app-images-placeholder></app-images-placeholder>
}

@if (images.isSuccess()) {
  <div class="border border-gray-200 dark:border-gray-700">
    <p-table [value]="images.data()">
      <ng-template pTemplate="header">
        <tr>
          <th i18n>Name</th>
          <th i18n>Version</th>
          <th i18n>ID</th>
          <th i18n>Created</th>
          <th i18n>Size</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-image>
        <tr>
          <td>
            @if (image.name) {
              {{ image.name }}
            } @else {
              <span class="text-muted-color italic">None</span>
            }
          </td>
          <td>
            @if (image.version) {
              {{ image.version }}
            } @else {
              <span class="text-muted-color italic">None</span>
            }
          </td>
          <td>{{ image.id }}</td>
          <td>{{ image.created }}</td>
          <td>{{ image.size }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
}
